body{
  background-color: black;
  display: flex;
  justify-content: center;
}

h2,h3,p{
  color: white;
  text-align: center;
}

.form-box{
  border: 1px white solid;
  padding: 20px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

